In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/TEST_F_VALUES.csv")

In [3]:
data

,Unnamed: 0,FIPS,STATE,EP_POV150,EP_MINRTY,E_UNEMP,Predicted.f.full_lm,Predicted.f.E_UNEMP_lm
0,1,1001,Alabama,22.9,26.0,736,0.083209,0.074249
1,2,1003,Alabama,16.9,17.1,4027,0.115612,0.121390
2,3,1005,Alabama,40.6,54.7,649,0.124556,0.073003
3,4,1007,Alabama,27.6,25.6,667,0.086685,0.073260
4,5,1009,Alabama,23.8,13.3,1253,0.080509,0.081654
...,...,...,...,...,...,...,...,...
2589,3138,56035,Wyoming,12.8,11.3,269,0.053810,0.067559
2590,3139,56037,Wyoming,18.0,21.2,1437,0.083940,0.084290
2591,3140,56039,Wyoming,11.9,18.8,280,0.059462,0.067717
2592,3141,56041,Wyoming,18.2,12.7,453,0.063083,0.070195
2593,3142,56043,Wyoming,19.2,18.2,170,0.064839,0.066141

In [4]:
data2 = data[["FIPS", "Predicted.f.full_lm"]]

In [5]:
print(data[data["FIPS"] == 48201 ])

Empty DataFrame
Columns: [Unnamed: 0, FIPS, STATE, EP_POV150, EP_MINRTY, E_UNEMP, Predicted.f.full_lm, Predicted.f.E_UNEMP_lm]
Index: []

In [7]:
data2

       FIPS  Predicted.f.full_lm
0      1001             0.083209
1      1003             0.115612
2      1005             0.124556
3      1007             0.086685
4      1009             0.080509
...     ...                  ...
2589  56035             0.053810
2590  56037             0.083940
2591  56039             0.059462
2592  56041             0.063083
2593  56043             0.064839

[2594 rows x 2 columns]

In [8]:
data2.rename(columns={'Predicted.f.full_lm': 'F-VALUES'}, inplace=True)

C:\Users\kushd\AppData\Local\Temp\ipykernel_13920\2885156297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns={'Predicted.f.full_lm': 'F-VALUES'}, inplace=True)

In [9]:
data2

       FIPS  F-VALUES
0      1001  0.083209
1      1003  0.115612
2      1005  0.124556
3      1007  0.086685
4      1009  0.080509
...     ...       ...
2589  56035  0.053810
2590  56037  0.083940
2591  56039  0.059462
2592  56041  0.063083
2593  56043  0.064839

[2594 rows x 2 columns]

In [10]:
data2["F-VALUES"].min()

0.027344667871256

In [11]:
data2["F-VALUES"].max()

2.81733955546034

In [ ]:
data2.to_csv(../data/predicted_complete.